{{#> layouts/main}}
{{#*inline "content-block"}}
<div style="padding-top: 150px" }} class="u-align--center">
    <h1 style="max-width: 100%;">@Citu</h1>
    <h2 style="max-width: 100%;">
        Building the web with web components
    </h2>
    <a style="margin-top: 10px;" class="p-button--positive" href="/citu/getting-started">
        Get Started Now
    </a>
</div>
{{/inline}}
{{/layouts/main}}
