{{#> layouts/main}}
{{#*inline "content-block"}}
<div class="row">
    <h1 style="max-width: 100%;">Why Citu</h1>

    <h2>Citu Slider</h2>
    <citu-slider></citu-slider>


    <h2>Native Slider</h2>
    <native-slider></native-slider>
</div>
{{/inline}}
{{/layouts/main}}
