{{#> layouts/main}}
{{#*inline "content-block"}}
<div class="row">
    <h1 style="margin-top: 15px;">Getting Started</h1>

    <p>
        Citu is a set of packages that provide tooling for building websites
        with web components.
    </p>

    <h2>Installation</h2>
    <code>yarn add @citu/web-component</code>

    <h2 style="margin-top: 15px;">Create your first component</h2>
    <p>Bellow is an basic web component using typescript</p>
    <citu-code lang="ts">
        /**
         * Import citu
         */
        import * as Citu from '@citu/web-component';

        /**
         * Create the component class
         */
        export MyComponent extends Citu.Component {
            /**
             * Give your component a name.
             * This will be the tag name you use in your html
             */
            public static get componentName(): string {
                return 'my-component';
            }

            /**
             * Define your render method.
             *
             * This function returns a JSX element with the innerHTML of your
             * component
             */
            public render() {
                return (
                    &lt;div className=&quot;wrapper&quot;&gt;
                        &lt;p&gt;This is my component&lt;/p&gt;
                    &lt;/div&gt;
                );
            }
        }

        /**
         * Finally we need to register the component using citus define method.
         */
        Citu.define(MyComponent);
    </citu-code>

    <p>Now we can use the web component in our html</p>
    <citu-code lang="html">
        &lt;div&gt;
            &lt;my-component&gt;&lt;/my-component&gt;
        &lt;/div&gt;
    </citu-code>
</div>
{{/inline}}
{{/layouts/main}}
