<%
htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %><%
htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || []
%>

<% for (item of htmlWebpackPlugin.options.links) { %><%
    if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
    <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> /><%
} %>
<% for (key in htmlWebpackPlugin.files.css) { %><%
      if (htmlWebpackPlugin.files.cssIntegrity) { %>
    <link
      href="<%= htmlWebpackPlugin.files.css[key] %>"
      rel="stylesheet"
      integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
      crossorigin="<%= webpackConfig.output.crossOriginLoading %>" /><%
      } else { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><%
      } %><%
} %>

<% for (item of htmlWebpackPlugin.options.scripts) { %><%
          if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
        <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script><%
        } %>
<% for (key in htmlWebpackPlugin.files.chunks) { %><%
        if (htmlWebpackPlugin.files.jsIntegrity) { %>
        <script
          src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
          type="text/javascript"
          integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
          crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script><%
          } else { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script><%
          } %><%
} %>
