<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Citu App</title>
        <link
            rel="stylesheet"
            href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.4.1.min.css"
        />
    </head>

    <body>
        <header id="navigation" class="p-navigation">
            <div class="p-navigation__row">
                <div class="p-navigation__banner">
                    <div class="p-navigation__logo">
                        <a class="p-navigation__link" href="/citu">
                            <h3>Citu</h3>
                        </a>
                    </div>
                    <a
                        href="#navigation"
                        class="p-navigation__toggle--open"
                        title="menu"
                        >Menu</a
                    >
                    <a
                        href="#navigation-closed"
                        class="p-navigation__toggle--close"
                        title="close menu"
                        >Close menu</a
                    >
                </div>
                <nav class="p-navigation__nav">
                    <span class="u-off-screen">
                        <a href="#main-content">Jump to main content</a>
                    </span>
                    <ul class="p-navigation__links" role="menu">
                        <nav-link
                            href="/citu/getting-started"
                            text="Getting Started"
                        ></nav-link>
                        <nav-link
                            href="/citu/why-citu"
                            text="Why Citu"
                        ></nav-link>
                    </ul>
                </nav>
            </div>
        </header>
        {{#> content-block}} {{/content-block}} {{> 'html/partials/head'}}
    </body>
</html>
